body {
    margin: 0;
    font-family: sans-serif;
    background-color: #eceff1;
}

body[unresolved] {
    display: none;
}

app-header {
    background-color: #222195;
    color: #fff;
}

paper-icon-button {
    --paper-icon-button-ink-color: white;
}

app-drawer-layout:not([narrow]) [drawer-toggle] {
    display: none;
}

paper-tabs {
    --paper-tab-ink: #222195;
    --paper-tabs-selection-bar-color: #222195;
    background-color: #ffffff;
}

paper-tab.iron-selected {
    color: #222195;
}