ion-label {
  margin-bottom: 0;
}

ion-tab-button {
  --padding-top: 6px;
  --padding-bottom: 6px;
  max-width: unset;
}

ion-tab-bar {
  height: 48px;
}

ion-badge {
  padding: 0 4px;
  font-size: 9px;
  line-height: 13px;
  right: unset;
  left: calc(50% + 2px);
  top: 2px;
}