<nav mat-tab-nav-bar mat-align-tabs="center" mat-stretch-tabs>
  <a mat-tab-link
     routerLink="/todos/all"
     routerLinkActive #rla1="routerLinkActive"
     [active]="rla1.isActive">
    All
  </a>
  <a mat-tab-link
     routerLink="/todos/active"
     routerLinkActive #rla2="routerLinkActive"
     [active]="rla2.isActive">
    Active
  </a>
  <a mat-tab-link
     routerLink="/todos/completed"
     routerLinkActive #rla3="routerLinkActive"
     [active]="rla3.isActive">
    Completed
  </a>
</nav>

<router-outlet></router-outlet>
