<paper-tabs [selected]="currentTab | async">
  <paper-tab routerLink="/todos/all">
    <iron-icon icon="list" id="tab_all"></iron-icon>
    <span>All</span>
    <paper-badge [label]="getCount().total" for="tab_all"></paper-badge>
  </paper-tab>
  <paper-tab routerLink="/todos/active">
    <iron-icon icon="check-box-outline-blank" id="tab_active"></iron-icon>
    <span>Active</span>
    <paper-badge [label]="getCount().active" for="tab_active"></paper-badge>
  </paper-tab>
  <paper-tab routerLink="/todos/completed">
    <iron-icon icon="check-box" id="tab_completed"></iron-icon>
    <span>Completed</span>
    <paper-badge [label]="getCount().completed" for="tab_completed"></paper-badge>
  </paper-tab>
</paper-tabs>
<iron-swipeable-pages selected="0" no-cycle="true">
  <router-outlet></router-outlet>
</iron-swipeable-pages>
<paper-fab icon="add" class="bottom_right" action="new-todo"></paper-fab>
