:host {
  display: block;
  height: 100%;
}

app-header {
  background-color: #222195;
  color: #fff;
  box-shadow: -60px -60px 0 60px #222195;
}

paper-icon-button {
  --paper-icon-button-ink-color: white;
}

app-drawer-layout, app-header-layout {
  height: 100%;
}

app-drawer-layout:not([narrow]) [drawer-toggle] {
  display: none;
}

app-drawer {
  border-right: 1px solid #eee;
}
