<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle(); changeDetectorRef.detectChanges();" *ngIf="mobileQuery.matches">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">Todo-App</h1>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav role="navigation" [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [disableClose]="!mobileQuery.matches" [fixedInViewport]="mobileQuery.matches"
                 [opened]="!mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <mat-list-item [routerLink]="[p.url]" *ngFor="let p of appPages">
          <mat-icon matListIcon>{{p.icon}}</mat-icon>
          <h3 matLine> {{p.title}} </h3>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content role="main">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
