:host {
  margin-top: 49px;
  flex: 1 0 auto;
  height: 100%;
}

span.label {
  margin-left: 16px;
}

mat-list {
  padding-top: 0;
}

mat-list,
cdk-virtual-scroll-viewport {
  height: 100%;
}

mat-list-item {
  cursor: pointer;
  background-color: #FFFFFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

button.mat-fab {
  position: absolute;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
