paper-item {
  border-bottom: 1px solid #eee;
  background-color: #ffffff;
}

paper-item:before {
  display: none !important;
}

paper-fab {
  --paper-fab-keyboard-focus-background: var(--accent-color);
}

paper-fab.bottom_right {
  top: auto;
  bottom: 20px;
  right: 20px;
  left: auto;
  position: absolute;
  position: fixed;
}
