<mat-list role="list">
  <mat-list-item role="listitem" *ngFor="let item of getItems()" (click)="presentActionSheet(item)">
    <div class="test-row">
      <div class="test-column">
        <div>
          <div>
            <div>
              <div>
                <input type="checkbox"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="test-column">
        <div>
          <div>
            <div>
              <div>
                <div>
                  <span class="label">Test</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="test-column">
        <div>
          <div>
            <div>
              <div>
                <div class="animation-square"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="test-column">
        <div>
          <div>
            <div>
              <div>
                <div>
                  <img src="favicon.ico"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-list-item>
</mat-list>
<button mat-fab (click)="presentAlertPrompt()">
  <mat-icon aria-label="Add todo">add</mat-icon>
</button>
