ion-checkbox {
  position: relative;
}

ion-label {
  cursor: pointer;
}

ion-list {
  overflow-y: auto;
  margin: 0;
}

.animation-square {
  width: 20px;
  height: 20px;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
  background-color: red;
}

.test-row {
  display: table;
  width: 100%;
}

.test-column {
  display: table-cell;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }