/* Your app styles here */
.bg-color-primary {
    background-color: #0129C7 !important;
}

.text-color-primary {
    color: #FFFFFF !important;
}

.sheet-modal {
    height: unset !important;
}

.device-desktop .sheet-modal {
    max-width: 500px !important;
    left: 0;
    right: 0;
    margin: auto;
}

.list {
    margin: 0 !important;
}