html, body {
  height: 100%; }

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #eceff1; }

body[unresolved] {
  display: none; }

.animation-square {
  width: 20px;
  height: 20px;
  -webkit-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
  background-color: red; }

.test-row {
  display: table;
  width: 100%; }

.test-column {
  display: table-cell; }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

