html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #eceff1;
}

body[unresolved] {
  display: none;
}

app-drawer {
  border-right: 1px solid #eee;
}

app-toolbar {
  background-color: #222195;
  color: #FFFFFF;
}

paper-item:before {
  display: none !important;
}

paper-tabs {
  --paper-tab-ink: #222195;
  --paper-tabs-selection-bar-color: #222195;
  background-color: #ffffff;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .14), 0 3px 5px -2px rgba(0, 0, 0, .12), 0 5px 1px -4px rgba(0, 0, 0, .2);
  border-bottom: 1px solid #eee;
  position: relative;
  z-index: 1;
}

paper-tab {
  --layout-horizontal_-_flex-direction: column;
  font-size: x-small;
  --paper-badge-width: 15px;
  --paper-badge-height: 15px;
  --paper-badge-margin-bottom: -4px;
  --paper-badge-margin-left: -4px;
}

paper-fab {
  --paper-fab-keyboard-focus-background: var(--accent-color);
  top: auto;
  bottom: 20px;
  right: 20px;
  left: auto;
  position: absolute;
}

.tab-container {
  height: calc(100vh - 64px);
}