@import 'theme';
@import '~bootstrap-material-design/scss/bootstrap-material-design';

html, body {
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

.bmd-layout-header {
  position: fixed;
}

.bmd-layout-content {
  margin-top: 56px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover {
  border-color: #222195;
}

.nav-tabs .nav-link {
  padding: 0.5rem 1rem;
}

.nav-tabs .nav-link small {
  line-height: 1;
}

.nav-tabs {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.nav-tabs .nav-link > * {
  display: block;
}

.nav-tabs .nav-link .badge {
  position: absolute;
  top: 5px;
  display: inline-block;
}

.tab-content {
  padding-top: 54px;
}

button.bmd-btn-fab {
  z-index: 2;
  top: auto;
  bottom: 20px;
  right: 20px;
  left: auto;
  position: absolute;
  position: fixed;
}

.nav-tabs, .todo-list-item {
  background-color: #FFFFFF;
  border-bottom: 1px solid #eee;
}

#page_active .todo-list .my-completed {
  display: none;
}

#page_completed .todo-list .my-active {
  display: none;
}

.bootstrapMenu ul {
  opacity: 1;
  transform: scale(1);
  padding: 0;
}

.bootstrapMenu li {
  cursor: pointer;
}

.bootstrapMenu a {
  color: #333;
  white-space: nowrap;
  text-decoration: none;
}

.bootstrapMenu .divider {
  height: 1px;
  overflow: hidden;
  background-color: #e5e5e5;
}